.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -20%;
  left: 50%;
  background: rgba(255, 81, 90, 1);
  transform: translate(-50%, -50%);
}
