.Background {
  background: linear-gradient(
      180deg,
      #1A1321 0%,
      #1A1321 100%
    ),
    url('../../assets/images/sliderCarImages/Base.png') top center/cover
      no-repeat;
}

.Card {
  background: rgba(10, 7, 13, 0.7);
  backdrop-filter: blur(35px);
  border-radius: 30px;
  transition: 0.5s;
}
.Card:hover {
  background: rgba(10, 7, 13, 0.3);
  backdrop-filter: blur(35);
  border-radius: 30px;
}
.Color {
  color: #ff6500;
}
