.Hero {
  background: url('../../assets/images/heroBg.png') center center/cover
    no-repeat;
  position: relative;
}

.Hero::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
