@media only screen and (min-width: 768px) {
  .Whitelisting {
    background: url('../../assets/images/whiteListing-bg.png');
    background-position: top 0 right 0;
    background-repeat: no-repeat;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(10, 7, 13, 0.5);
  border: 1.53741px solid #ff6800;
  box-sizing: border-box;
  box-shadow: 12.685px 37.149px 90.6073px rgba(211, 117, 49, 0.12);
  backdrop-filter: blur(35px);
  height: 100%;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  background: linear-gradient(
    to right bottom,
    rgba(255, 104, 0, 0.25),
    rgba(255, 41, 105, 0.25)
  );
}
